/* != Filter */

.indexCategory {
  float:left;
  width:100%;
  padding-top: em(20);
}

.categoryTitle {
  @include rem(font-size, 32px);
  @include rem(margin-bottom, 15px);
  border-bottom: 1px solid $clrGrey;
}

.indexCategory {
  .delta {
    border-bottom:1px solid #666;
    padding-top:30px;
  }
}

.categoryList,
.filterCategories {
  padding:0;
  margin:0;
}

.categoryList {
  width:100%;
  float:left;
}

.cpFilter li,
.cpIndex .item,
.filterReset,
.filterMode {
    list-style:none;
    padding:0 5px 5px 0;
}

/* Index */
.cpIndex {
  .beta {
    margin-bottom:0;
  }

  .item {
    line-height:1;
    margin:0;
    float:left;

    a {
      width:180px;
      background:#444;
      display:block;
      padding:15px;
      color:#fff;
      text-decoration:none;
      border-radius: 5px;
    }
  }

  .active,
  .matched {
    a {
      background:#77a600;
    }
  }

  .hidden {
    display:none;
  }
}

/* Filter */
.cpFilter li {
    display:block;
    font-size:18px;
    margin-bottom: 0;
}

.filterReset,
.filterMode {
    padding-top:20px;
}

.cpFilter,
.filterReset,
.filterMode {
   a {
    padding:10px;
    background:#af0000;
    color:#fff;
    text-decoration:none;
    display:block;
    border-radius: 5px;
  }
}

.cpFilter {
  .active {
    a {
      background:#77a600;
    }
  }
}

.filterReset {
  a {
    background:#444;
  }
}

.filterMode {
  a {
    background:#4a7397;
  }
}